<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
    <h1 style="display: flex; justify-content: center;"><u>Student Details</u></h1>
    <div ng-app="checkboxApp" style="display: flex; justify-content: center;"  ng-controller="checkboxCtrl">
        <form name="myForm">
            <table>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" name="fname" ng-model="fname" required>
                        <span style="color:red" ng-show="myForm.fname.$touched && myForm.fname.$invalid">First name is required.</span></td>

                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" required name="lname" ng-model="lname" ng-minlength="3">
                    <span style="color:red" ng-show = "myForm.lname.$touched && (myForm.lname.$invalid || myForm.lname.$error.minlength)">Minimum 3 characters required.</span></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" name="emailID" ng-model="emailID" ng-pattern="/^[a-z]+[a-z0-9._-]*@[a-z]+\.[a-z.]{2,5}$/" required>
                        <span style="color:red" ng-show = "myForm.emailID.$error.pattern">Enter valid email.</span></td>
                </tr>
                <tr>
                    <td>Date of Birth:</td>
                    <td><input type="date"></td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>
                        <select>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Training Type:</td>
                    <td><input type="radio" name="radio1">Online</td>
                </tr>
                <tr>
                    <td>
                    <td><input type="radio" name="radio1">Offline</td>
                    </td>
                </tr>
                <tr>
                    <td>Subject:</td>
                    <td>
                        <table>
                            <tr>
                                <td><input type="checkbox" ng-model="chkselct.sub1">AI&DS-1</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" ng-model="chkselct.sub2">Web X.0</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" ng-model="chkselct.sub3">DMBI</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" ng-model="chkselct.sub4">WT</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" ng-model="chkselct.sub5">EH&F</td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span style="color:red;" ng-show="validationmsg">Please select at least one
                            Checkbox</span><br>
                        <input type="submit" value="Submit" ng-click="checkvalidation();" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        var app = angular.module('checkboxApp', []);
        app.controller('checkboxCtrl', function ($scope) {
            $scope.validationmsg = false;
            $scope.checkvalidation = function () {
                var chkselct = $scope.chkselct;
                if (chkselct == false || chkselct == undefined)
                    $scope.validationmsg = true;
                else
                    $scope.validationmsg = false;
            }
        });
    </script>
</body>

</html>